{% extends 'common/base.html.twig' %}

{% block authorUpdate %}

    <main>
        <div>
            <p>La modification de l'auteur a bien été effectuée</p>
        </div>
    </main>

{% endblock %}