<!--je crée une base commune à toutes mes pages html twig que je vais pouvoir étendre dans tous tous les fihciers twig -->
<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <header>

    </header>
    {# je fais apparaitre les messages flash s'il y en a #}
    {% for message in app.flashes('success') %}
        <div class="flashes">
            {{ message }}
        </div>
    {% endfor %}

    <!--je crée des blocks que je vais pouvoir inclure dans les fichiers twig pour isoler et pouvoir travailler sur des parties-->
    {% block library %}
    {% endblock %}

    {% block bookContent %}
    {% endblock %}

    {% block bookUpdate %}
    {% endblock %}

    {% block bookDelete %}
    {% endblock %}

    {% block authors %}
    {% endblock %}

    {% block authorContent %}
    {% endblock %}

    {% block authorUpdate %}
    {% endblock %}

    {% block authorDelete %}
    {% endblock %}

    {% block bookInsert %}
    {% endblock %}

    {% block authorInsert %}
    {% endblock %}

    <footer>
        <nav>
            <ul>
                <li>
                    <h3>
                        <a href="{{ path('admin_books_list') }}">Bibliothèque</a>
                    </h3>
                </li>
                <li>
                    <h3>
                        <a href="{{ path('admin_authors_list') }}">Liste des auteurs</a>
                    </h3>
                </li>
            </ul>
        </nav>
    </footer>

</body>
</html>