h1 {
    background-color: #8959A8;
    text-align: center;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

h3 {
    font-style: italic;
    text-align: center;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #F5871F;
    text-align: center;
}

a:hover {
    color: aqua;
}

p {
    padding: 10px;
}

main {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.livres {
    margin: 10px;
    width: 30%;
    border: 2px solid #8959A8;
    border-radius: 5%;
    padding: 10px;
    text-align: center;
    height: 250px;
}

.titre {
    font-size: 50px;
}

.soustitre {
    font-size: 30px;
    font-style: italic;
}