<h1>
    Bienvenue sur la page d'administration des livres et des auteurs
</h1>

<nav>
    <a href="{{ path('admin_books_list') }}">Gérer la liste des livres</a>
    <br>
    <a href="{{ path('admin_authors_list') }}">Gérer la liste des auteurs</a>
</nav>